* {
  margin: 0;
  box-sizing: border-box;
}

/* costum property farver */
html {
  --header-color: #c5df73;
  --background-color: #ddf29b;
}

img {
  max-width: 100%;
  height: auto;
}

video {
  max-width: 100%;
}

p {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  text-align: left;
  padding-inline: 1rem;
}

body {
  background-color: var(--background-color);
}

h1 {
  font-family: "Poller One", cursive;
  font-size: 6rem;
  padding-block: 1rem;
}

@media (max-width: 600px) {
  h1 {
    font-family: "Poller One", cursive;
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }

  h2 {
    font-family: "Poller One", cursive;
    font-size: 1.4rem;
    text-align: center;
    padding-block: 1rem;
  }
}

/* header */
/* footer */
/* p */
/* h2 */
/* h3 */

/*  MENU */
header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--header-color);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  align-self: center;
}

@media all and (max-width: 1000px) {
  .logo {
    width: 23%;
  }
}

.nav_list {
  list-style-type: none;
}

.nav_list,
li {
  display: inline-block;
  padding: 1.2rem 1rem;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8;
}

.navbar a:hover {
  color: #2f3c7e;
}

.menu {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}

.menu_burger {
  width: 20px;
  height: 2px;
  margin-bottom: 5px;
  background-color: #2f3c7e;
}

@media all and (max-width: 480px) {
  .navbar {
    flex-direction: column;
    position: relative;
    display: block;
  }
  .icons {
    display: none;
  }

  .logo {
    width: 20%;
    padding: 3%;
  }

  .menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .nav_list,
  li {
    display: block;
    border-bottom: 1px solid #2f3c7e;
  }

  .nav_list {
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 0%;
    margin: 0%;
    display: none;
  }
  .active {
    display: block;
  }
}

@media all and (max-width: 1000px) {
  .logo {
    width: 23%;
  }
}
