* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* costum property farver */
html {
  --grey-color: #eae6df;
  /* --background-color: lightgray; */
  --text: #14454a;
  --green: #e7f7b4;
}

html {
  --main-font: "Poller One", cursive;
  --small-font: "Mukta", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

/* SKYGGE TIL KLIKBARE IMG */
.img_wrapper {
  filter: drop-shadow(10px 10px 4px #000000);
  cursor: pointer;
}
video {
  max-width: 100%;
}

p {
  max-width: 10in;
  font-family: var(--small-font);
  font-size: 0.9rem;
  text-align: center;
  padding-inline: 1rem;
  padding-bottom: 2rem;
  color: var(--text);

  /* height: fit-content; */
}

/* line height */
body {
  min-height: 100vh;
  line-height: 1.6;
  background: linear-gradient(230deg, #baa6f0, #a4daeb 80.71%), linear-gradient(127deg, beige, #c5df73 70.71%), linear-gradient(336deg, #353cac, #c5df73 50.71%);
}

h1 {
  font-family: var(--main-font);
  font-size: 3rem;
  padding-top: 0.2rem;
  color: var(--green);
  text-align: center;
  text-shadow: 3px 3px #14454a;
}

h2 {
  font-family: var(--main-font);
  font-size: 1.4rem;
  text-align: center;
  padding-block: 1rem;
  color: var(--text);
}

h3 {
  font-family: var(--small-font);
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--text);
}

h4 {
  font-family: var(--small-font);
  text-align: center;
  font-size: 1rem;
  color: var(--text);
}

h5 {
  font-family: var(--small-font);
  text-align: center;
  font-size: 0.9rem;
  font-weight: lighter;
  padding-bottom: 2rem;
  color: var(--text);
  padding-inline: 5rem;
}

h6 {
  font-family: var(--small-font);
  text-align: center;
  font-size: 0.7rem;
  padding-bottom: 0.5rem;
  color: var(--text);
}

footer {
  position: sticky;
  top: 100vh;
  text-align: center;
  place-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.2rem;
  background-color: var(--grey-color);
  font-family: var(--small-font);
  opacity: 0.6;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  border-radius: 25px;
  /* background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 0, 0)); */
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(0.25turn, rgb(115, 115, 115), rgba(58, 58, 58, 0));
  border-color: grey;
  /* opacity: 0.8; */
  /* border-radius: 25px; */
}

.logo {
  width: 9%;
  float: left;
}

.nav_list {
  list-style-type: none;
}

.nav_list,
li {
  display: inline-block;
  padding-inline: 5rem;
}

.navbar a {
  text-decoration: none;
  color: var(--grey-color);
  font-family: var(--main-font);
  font-size: 1rem;
}

.navbar a:hover {
  color: lightgray;
}

.menu {
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
}

.menu_burger {
  width: 20px;
  height: 2px;
  margin-bottom: 5px;
  background-color: #2f3c7e;
}

/* NAVBAR MOBILE */
@media all and (max-width: 760px) {
  .navbar {
    flex-direction: column;
    position: relative;
    display: block;
  }

  .logo {
    width: 13%;
    padding: 3%;
  }

  .menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .nav_list,
  li {
    display: block;
    border-bottom: 1px solid #2f3c7e;
  }

  .nav_list {
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 0%;
    margin: 0%;
    display: none;
  }
  .active {
    display: block;
  }
}

@media all and (min-width: 600px) {
  #toggle-button {
    display: none;
  }
}
/* 
#zoom-a {
  width: 600px;
  height: auto;
  transition: transform ease-in-out 0.3s;
} */

#zoom-a:hover {
  transform: scale(1.4);
}
