* {
  margin: 0;
  box-sizing: border-box;
}

/* costum property farver */
html {
  --header-color: lightgray;
  --background-color: lightgray;
}

html {
  --main-font: "Poller One", cursive;
  --small-font: "Mukta", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}
.img_wrapper {
  filter: drop-shadow(10px 10px 4px #000000);
  cursor: pointer;
}
video {
  max-width: 100%;
}

p {
  max-width: 2.5emrem;
  font-family: var(--small-font);
  font-size: 0.8rem;
  text-align: center;
  padding-inline: 1rem;
  padding-bottom: 2rem;
  color: hotpink;

  /* height: fit-content; */
}

/* line height */
body {
  min-height: 100vh;
  line-height: 1.6;
}

.bg {
  background-image: url(../img/oceanlight.webp);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: var(--main-font);
  font-size: 2rem;
  padding-top: 0.2rem;
  color: #ddf29b;
  text-align: center;
}

h2 {
  font-family: var(--main-font);
  font-size: 1.4rem;
  text-align: center;
  padding-block: 1rem;
  color: white;
}

h3 {
  font-family: var(--small-font);
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: white;
}

/* underline h3 om mig */
.underline {
  text-decoration: underline;
}

h4 {
  font-family: var(--small-font);
  text-align: center;
  font-size: 1rem;
  color: white;
}

h5 {
  font-family: var(--small-font);
  text-align: center;
  font-size: 0.4rem;
  padding-bottom: 0.7rem;
  color: white;
}

h6 {
  font-family: var(--small-font);
  text-align: center;
  font-size: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
}

footer {
  position: sticky;
  top: 100vh;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.2rem;
  background-color: var(--header-color);
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 10%;
  float: left;
}

.nav_list {
  list-style-type: none;
}

.nav_list,
li {
  display: inline-block;
  padding: 0.7rem;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-family: var(--small-font);
  font-size: 1rem;
}

.navbar a:hover {
  color: lightgray;
}

.menu {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}

.menu_burger {
  width: 20px;
  height: 2px;
  margin-bottom: 5px;
  background-color: #2f3c7e;
}

/* SKYGGE TIL KLIKBARE IMG */
.img_wrapper {
  filter: drop-shadow(10px 10px 4px #000000);
  transition: transform 0.2s;
}

/* powerpoint */
iframe {
  grid-column: 2;
  width: 450px;
  height: 311px;
  margin-left: auto;
  margin-right: auto;
}
