* {
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 700px) {
  .forside_h1 {
    font-size: 6rem;
  }
}

.ligger_vert {
  opacity: 50%;
  object-fit: cover;
  width: auto;
  height: 100%;
}

/* .container {
  position: relative;
  text-align: center;
} */

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.forside_h1 {
  display: grid;
  place-items: center;
  place-self: center;
  grid-area: 1/1;
}

/* hide video vis billede */
@media (min-width: 600px) {
  .splash {
    display: none;
  }
}

/* hide billede vis video */
@media (max-width: 900px) {
  .splash_mobil {
    display: none;
  }
}

.splash {
  height: 100%;
  max-width: none;
  background-image: url(/img/splash.png);
  background-size: cover;
}

.splash_mobil {
  height: 100%;
  max-width: none;
  background-image: url(/img/splash-2.png);
  background-size: cover;
}
