* {
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 700px) {
  .forside_h1 {
    font-size: 6rem;
  }
}

.ligger_vert {
  opacity: 100%;
  object-fit: cover;
  width: auto;
  height: 100%;
}

/* .container {
  position: relative;
  text-align: center;
} */

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.forside_h1 {
  display: grid;
  place-items: center;
  place-self: center;
  grid-area: 1/1;
}

/* hide web vis mobile */
@media (min-width: 600px) {
  .splash {
    display: none;
  }
}

/* hide mobile vis web */
@media (max-width: 900px) {
  .splash_mobile {
    display: none;
  }
}

.splash {
  height: 100%;
  max-width: auto;
  background-image: url(/img/splash.png);
  background-size: cover;
}

.splash_mobil {
  height: 100%;
  max-width: auto;
  background-image: url(/img/splash-2.png);
  background-size: cover;
}

.forsidecontainer {
  display: grid;
  /* grid-template-columns: 1fr 1rem 1fr;
  grid-template-rows: 2fr 1fr; */
}

@media all and (min-width: 600px) {
  .forsidecontainer {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: repeat(4fr);
  }
}

@media all and (min-width: 600px) {
  .port {
    grid-column: 1/3;
    grid-row: 1/2;
    padding-left: 2.3rem;
  }

  .om {
    grid-column: 3/3;
    grid-row: 1;
    padding: 4.3rem;
  }

  .cv {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
