.portfolio {
  padding: 2rem;
  margin-top: 20px;
}

.img_wrapper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.img_wrapper > img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.img_wrapper > .fade {
  opacity: 0;
}

.img_wrapper:hover > .fade {
  opacity: 1;
}

.hover {
  color: white;
}

body {
  background-color: var(--background-color);
}

/* ipad screens that are 992px or less, background color is blue */
@media screen and (max-width: 992px) {
  body {
    background-color: orange;
  }
}

/* iphone screens that are 600px or less, background color is blue */
@media screen and (max-width: 600px) {
  body {
    background-color: var(--background-color);
  }

  .tema_knap {
    font-family: "Poller One", cursive;
    font-size: 2rem;
    text-align: center;
  }
}

/* hover */
@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 40px;
    padding-inline: 120px;
    padding-bottom: 2rem;
  }

  .portfolio {
    padding-inline: 4rem;
    padding-block: 2rem;
    margin-top: 20px;
  }
  .menu {
    padding-top: 2rem;
  }
}
.hover_h2 {
  color: white;
}

.tema_knap {
  font-family: "Poller One", cursive;
  font-size: 2rem;
  color: white;
}

.img_wrapper {
  filter: drop-shadow(10px 10px 4px #000000);
}
