* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* costum property farver */
html {
  --header-color: #fef1d2;
  --background-color: lightgray;
  --beige: #eae6df;
  --text: #14454a;
  --green: #e7f7b4;
  --grey-color: #eae6df;
}

html {
  --main-font: "Poller One", cursive;
  --small-font: "Mukta", sans-serif;
}

body {
  background-color: var(--beige);
}

img {
  max-width: 100%;
  height: auto;
}

/* .bg {
  background-image: url(../img/oceanlight.webp);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
/* margin-inline: 0.3rem; */

.bg {
  background-image: url(../img/purplesky.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* tilbage knap top */
.tilbage {
  margin-inline: 5rem;
  margin-top: 2rem;
  cursor: pointer;
  color: var(--text);
  background-color: var(--grey-color);
  padding-inline: 1.3rem;
  padding-block: 0.4rem;
  font-family: var(--small-font);
  border-radius: 25px;
  /* border-color: #14454a; */
}

/* tilbage knap bund */
.tilbage2 {
  margin-inline: 5rem;
  margin-bottom: 3rem;
  cursor: pointer;
  color: var(--text);
  background-color: var(--grey-color);
  padding-inline: 1.3rem;
  padding-block: 0.4rem;
  font-family: var(--small-font);
  border-radius: 25px;
  /* border-color: #14454a; */
}

/* SKYGGE TIL KLIKBARE IMG */
.img_wrapper {
  filter: drop-shadow(10px 10px 4px #000000);
  cursor: pointer;
}

.text-box {
  background-color: var(--beige);
  height: fit-content;
  max-width: 20in;
  border-radius: 20px;
}

/* ////////////////////////////////////////////////// */
/* MOBILE FIRST TIL TEMA SIDER 2, 3, 4 */
/* ////////////////////////////////////////////////// */
.container {
  min-height: 400px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 2rem;
  max-width: 100%;
  padding-top: 3rem;
  padding-inline: 3rem;
  margin-bottom: 1.5rem;
}

.container :nth-child(1) {
  grid-column: 1/13;
  grid-row: 1;
}

.container :nth-child(2) {
  grid-column: 1/13;
  grid-row: 2;
  max-width: 100%;
}

.container :nth-child(3) {
  grid-column: 1/13;
  grid-row: 3;
}

.container :nth-child(4) {
  grid-column: 2/12;
  grid-row: 4;
}

.container :nth-child(5) {
  grid-column: 1/13;
  grid-row: 5;
}

.container :nth-child(6) {
  grid-column: 1/13;
  grid-row: 6;
}

.container :nth-child(7) {
  grid-column: 1/13;
  grid-row: 7;
}

.container :nth-child(8) {
  grid-column: 1/13;
  grid-row: 8;
}

.container :nth-child(9) {
  grid-column: 1/13;
  grid-row: 9;
}

.container :nth-child(10) {
  grid-column: 2/12;
  grid-row: 10;
}

/* refleksion */
.container :nth-child(11) {
  grid-column: 1/13;
  grid-row: 11;
}

/* ////////////////////////////////////////////////// */
/* MEDIUM TABLET SCREEN CONTAINER 2, 3, 4*/
/* ////////////////////////////////////////////////// */
@media screen and (min-width: 760px) {
  /* .bg {
    margin: 2rem;
  } */

  .container {
    padding-bottom: 2rem;
  }

  /* tekst */
  .container :nth-child(1) {
    grid-column: 2/8;
    grid-row: 1;
  }

  /* img/pp */
  .container :nth-child(2) {
    grid-column: 8/12;
    grid-row: 1;
    max-width: 100%;
  }

  /* tekst */
  .container :nth-child(3) {
    grid-column: 7/13;
    grid-row: 2;
  }

  /* tekst */
  .container :nth-child(4) {
    grid-column: 7/13;
    grid-row: 3;
  }

  /* img */
  .container :nth-child(5) {
    grid-column: 1/7;
    grid-row: 2;
  }

  /* img */
  .container :nth-child(6) {
    grid-column: 1/7;
    grid-row: 3;
  }

  /* img */
  .container :nth-child(7) {
    grid-column: 1/7;
    grid-row: 4;
  }

  /* img */
  .container :nth-child(8) {
    grid-column: 7/13;
    grid-row: 4;
  }

  /* tekst */
  .container :nth-child(9) {
    grid-column: 2/12;
    grid-row: 5;
  }

  .container :nth-child(10) {
    grid-column: 2/12;
    grid-row: 6;
  }

  .container :nth-child(11) {
    grid-column: 2/12;
    grid-row: 7;
  }
}

/* ////////////////////////////////////////////////// */
/* FULL WEB SCREEN CONTAINER 2, 3, 4*/
/* ////////////////////////////////////////////////// */
@media screen and (min-width: 992px) {
  /* .bg {
    margin: 1rem;
  } */

  .container {
    gap: 2rem;
    padding-bottom: 3rem;
    padding-inline: 5rem;
  }

  /* tekst */
  .container :nth-child(1) {
    grid-column: 2/7;
    grid-row: 1;
  }

  /* img/pp */
  .container :nth-child(2) {
    grid-column: 7/12;
    grid-row: 1;
    max-width: 100%;
  }

  /* tekst */
  .container :nth-child(3) {
    grid-column: 3/11;
    grid-row: 3;
  }

  /* tekst */
  .container :nth-child(4) {
    grid-column: 4/10;
    grid-row: 4;
  }

  /* img */
  .container :nth-child(5) {
    grid-column: 1/7;
    grid-row: 5;
    padding-left: 5rem;
  }

  /* img */
  .container :nth-child(6) {
    grid-column: 7/13;
    grid-row: 5;
    padding-right: 5rem;
  }

  /* img */
  .container :nth-child(7) {
    grid-column: 1/7;
    grid-row: 6;
    padding-left: 5rem;
  }

  /* img */
  .container :nth-child(8) {
    grid-column: 7/13;
    grid-row: 6;
    padding-right: 5rem;
  }

  /* tekst */
  .container :nth-child(9) {
    grid-column: 3/11;
    grid-row: 8;
  }

  /* img/link */
  .container :nth-child(10) {
    grid-column: 4/10;
    grid-row: 9;
  }

  /* refleksion */
  .container :nth-child(11) {
    grid-column: 3/11;
    grid-row: 10;
  }
  .container :nth-child(12) {
    grid-column: 5/9;
    grid-row: 11;
  }
}

/* ////////////////////////////////////////////////// */
/* SLUT TEMA 2, 3, 4 GRIDS */
/* ////////////////////////////////////////////////// */
/*  */
/*  */
/*  */
/*  */
/*  */

/* ////////////////////////////////////////////////// */
/* CONTAINER2 SIDE 5 MOBILE FIRST */
/* ////////////////////////////////////////////////// */

.container2 {
  min-height: 400px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 2rem;
  max-width: 100%;
  padding-top: 3rem;
  padding-inline: 6rem;
  padding-bottom: 3rem;
}

/* pilot text */
.container2 :nth-child(1) {
  grid-column: 1/13;
  grid-row: 1;
}

/* img af pilot site */
.container2 :nth-child(2) {
  grid-column: 1/13;
  grid-row: 2;
  max-width: 100%;
}

/* video */
.container2 :nth-child(3) {
  grid-column: 1/13;
  grid-row: 3;
  max-width: 100%;
}

/* refleksion pilot */
.container2 :nth-child(4) {
  grid-column: 1/13;
  grid-row: 4;
  max-width: 100%;
}

/* redesign */
.container2 :nth-child(5) {
  grid-column: 1/13;
  grid-row: 6;
  max-width: 100%;
}

/* proc. dok */
.container2 :nth-child(6) {
  grid-column: 1/13;
  grid-row: 7;
  max-width: 100%;
}

/* link til siden */
.container2 :nth-child(7) {
  grid-column: 1/13;
  grid-row: 8;
  place-content: center;
}

/* powerpoint */
.container2 :nth-child(8) {
  grid-column: 1/13;
  grid-row: 9;
  max-width: 100%;
  width: 310px;
  height: 210px;
}

/* relfeksion */
.container2 :nth-child(9) {
  grid-column: 1/13;
  grid-row: 10;
  max-width: 100%;
}

/* ////////////////////////////////////////////////// */
/* MEDIUM TABLET SCREEN CONTAINER2 SIDE 5*/
/* ////////////////////////////////////////////////// */
@media screen and (min-width: 760px) {
  /* .bg {
    margin: 2rem;
  } */

  .container {
    padding-bottom: 2rem;
  }
  /* pilot text */
  .container2 :nth-child(1) {
    grid-column: 2/12;
    grid-row: 1;
  }

  /* img af pilot site */
  .container2 :nth-child(2) {
    grid-column: 1/13;
    grid-row: 2;
    max-width: 100%;
  }

  /* video */
  .container2 :nth-child(3) {
    grid-column: 1/13;
    grid-row: 3;
    max-width: 100%;
  }

  /* refleksion pilot */
  .container2 :nth-child(4) {
    grid-column: 2/12;
    grid-row: 4;
    max-width: 100%;
  }

  /* redesign */
  .container2 :nth-child(5) {
    grid-column: 2/12;
    grid-row: 6;
    max-width: 100%;
  }

  /* tema. dok */
  .container2 :nth-child(6) {
    grid-column: 1/7;
    grid-row: 7;
    max-width: 100%;
  }

  /* link til siden */
  .container2 :nth-child(7) {
    grid-column: 7/13;
    grid-row: 7;
    place-content: center;
  }

  /* powerpoint */
  .container2 :nth-child(8) {
    grid-column: 4/11;
    grid-row: 8;
    max-width: 100%;
    width: 310px;
    height: 210px;
  }

  /* relfeksion */
  .container2 :nth-child(9) {
    grid-column: 1/13;
    grid-row: 9;
    max-width: 100%;
  }
}

/* ////////////////////////////////////////////////// */
/* FULL WEB SCREEN CONTAINER2 SIDE 5*/
/* ////////////////////////////////////////////////// */
@media screen and (min-width: 992px) {
  /* .bg {
    margin: 1rem;
  } */

  .container2 {
    gap: 4rem;
    padding-bottom: 3rem;
    padding-inline: 4rem;
  }

  /* pilot text */
  .container2 :nth-child(1) {
    grid-column: 1/8;
    grid-row: 1;
  }

  /* img af pilot site */
  .container2 :nth-child(2) {
    grid-column: 8/13;
    grid-row: 1;
    max-width: 100%;
  }

  /* video */
  .container2 :nth-child(3) {
    grid-column: 1/8;
    grid-row: 2;
    max-width: 100%;
  }

  /* refleksion pilot */
  .container2 :nth-child(4) {
    grid-column: 8/13;
    grid-row: 2;
    max-width: 100%;
  }

  /* redesign */
  .container2 :nth-child(5) {
    grid-column: 2/12;
    grid-row: 4;
    max-width: 100%;
  }

  /* tema. dok */
  .container2 :nth-child(6) {
    grid-column: 8/12;
    grid-row: 5;
    max-width: 100%;
  }

  /* link til siden */
  .container2 :nth-child(7) {
    grid-column: 2/8;
    grid-row: 5;
    place-content: center;
  }

  /* powerpoint */
  .container2 :nth-child(8) {
    grid-column: 4/12;
    grid-row: 6;
    max-width: 100%;
    width: 580px;
    height: 380px;
  }

  /* relfeksion */
  .container2 :nth-child(9) {
    grid-column: 3/11;
    grid-row: 7;
    max-width: 100%;
  }
}

/* ////////////////////////////////////////////////// */
/* PORTFOLIO SIDE MOBILE FIRST */
/* ////////////////////////////////////////////////// */

.portfolio-container {
  min-height: 400px;
  max-width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(100px, auto);
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-inline: 1rem;
}

.bg {
  padding-bottom: 1.5rem;
}
.portfolio-container :nth-child(1) {
  grid-column: 1/13;
  grid-row: 1;
}

.portfolio-container :nth-child(2) {
  grid-column: 1/13;
  grid-row: 2;
}

.portfolio-container :nth-child(3) {
  grid-column: 1/13;
  grid-row: 3;
}

.portfolio-container :nth-child(4) {
  grid-column: 1/13;
  grid-row: 4;
}

.portfolio-container :nth-child(5) {
  grid-column: 1/13;
  grid-row: 5;
}

/* ////////////////////////////////////////////////// */
/* PORTFOLIO SIDE MEDIUM TABLET SCREEN*/
/* ////////////////////////////////////////////////// */
@media screen and (min-width: 760px) {
  .portfolio-container :nth-child(1) {
    grid-column: 1/7;
    grid-row: 1;
  }

  h1 {
    padding-top: 2rem;
  }

  .portfolio-container :nth-child(2) {
    grid-column: 7/13;
    grid-row: 1;
  }

  .portfolio-container :nth-child(3) {
    grid-column: 1/7;
    grid-row: 2;
  }

  .portfolio-container :nth-child(4) {
    grid-column: 7/13;
    grid-row: 2;
  }

  .portfolio-container :nth-child(5) {
    grid-column: 3/9;
    grid-row: 3;
  }
}

/* ////////////////////////////////////////////////// */
/* FULL WEB PORTFOLIO*/
/* ////////////////////////////////////////////////// */
@media screen and (min-width: 992px) {
  .portfolio-container {
    padding-inline: 5rem;
  }
  .portfolio-container :nth-child(1) {
    grid-column: 1/5;
    grid-row: 1;
  }

  .portfolio-container :nth-child(2) {
    grid-column: 5/9;
    grid-row: 1;
  }

  .portfolio-container :nth-child(3) {
    grid-column: 9/13;
    grid-row: 1;
  }

  .portfolio-container :nth-child(4) {
    grid-column: 3/7;
    grid-row: 2;
  }

  .portfolio-container :nth-child(5) {
    grid-column: 7/11;
    grid-row: 2;
  }
}

/* ////////////////////////////////////////////////// */
/* INDEX MOBILE FIRST */
/* ////////////////////////////////////////////////// */

.index-container {
  min-height: 400px;
  max-width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 1rem;
  padding-top: 3rem;
  padding-inline: 3rem;
  padding-bottom: 3rem;
}
.bg {
  padding-bottom: 1.5rem;
}

.index-container :nth-child(1) {
  grid-column: 1/13;
  grid-row: 1;
}

.index-container :nth-child(2) {
  grid-column: 1/13;
  grid-row: 2;
}

.index-container :nth-child(3) {
  grid-column: 4/10;
  grid-row: 3;
}

/* ////////////////////////////////////////////////// */
/* INDEX MEDIUM TABLET SCREEN*/
/* ////////////////////////////////////////////////// */
@media screen and (min-width: 760px) {
  .index-container :nth-child(1) {
    grid-column: 1/8;
    grid-row: 1;
  }

  .index-container :nth-child(2) {
    grid-column: 8/13;
    grid-row: 1;
  }

  .index-container :nth-child(3) {
    grid-column: 11/13;
    grid-row: 1;
    padding-top: 9rem;
  }
}

/* ////////////////////////////////////////////////// */
/* INDEX FULL WEB SCREEN */
/* ////////////////////////////////////////////////// */
@media screen and (min-width: 992px) {
  .index-container {
    padding-top: 0.5rem;
    padding-inline: 9.5rem;
    margin-bottom: 0.5rem;
  }

  .index-container :nth-child(1) {
    grid-column: 1/9;
    grid-row: 1;
    overflow: auto;
    padding-left: 0.7rem;
  }

  .index-container :nth-child(2) {
    grid-column: 9/13;
    grid-row: 1;
    overflow: auto;
    height: fit-content;
    padding-right: 1.5rem;
  }

  /* .index-container :nth-child(3) {
    grid-column: 11/13;
    grid-row: 1;
    overflow: auto;
    padding-top: 13rem;
    padding-right: 4rem;
  } */
}

/* ////////////////////////////////////////////////// */
/* OM MIG SIDE MOBILE FIRST */
/* ////////////////////////////////////////////////// */
.om_mig {
  min-height: 400px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 1rem;
  max-width: 100%;
  padding-top: 3rem;
  padding-inline: 3rem;
  margin-bottom: 1.5rem;
  padding-bottom: 4rem;
}

.om_mig :nth-child(1) {
  grid-column: 1/13;
  grid-row: 1;
}

.om_mig :nth-child(2) {
  grid-column: 1/13;
  grid-row: 2;
}

.om_mig :nth-child(3) {
  grid-column: 1/13;
  grid-row: 3;
}

.om_mig :nth-child(4) {
  grid-column: 1/13;
  grid-row: 4;
}

.om_mig :nth-child(5) {
  grid-column: 1/13;
  grid-row: 5;
}

.om_mig :nth-child(6) {
  grid-column: 1/13;
  grid-row: 6;
}

.om_mig :nth-child(7) {
  grid-column: 1/13;
  grid-row: 7;
}

.om_mig :nth-child(8) {
  grid-column: 1/13;
  grid-row: 8;
}

.om_mig :nth-child(9) {
  grid-column: 1/13;
  grid-row: 9;
}

/* ////////////////////////////////////////////////// */
/* OM MIG SIDE IPAD / MEDIUM */
/* ////////////////////////////////////////////////// */

@media screen and (min-width: 760px) {
  .om_mig :nth-child(1) {
    grid-column: 4/10;
    grid-row: 1;
  }

  .om_mig :nth-child(2) {
    grid-column: 2/12;
    grid-row: 3;
  }

  .om_mig :nth-child(3) {
    grid-column: 2/12;
    grid-row: 2;
  }

  .om_mig :nth-child(4) {
    grid-column: 2/12;
    grid-row: 4;
  }

  .om_mig :nth-child(5) {
    grid-column: 4/10;
    grid-row: 5;
  }

  .om_mig :nth-child(6) {
    grid-column: 1/7;
    grid-row: 6;
  }

  .om_mig :nth-child(7) {
    grid-column: 7/13;
    grid-row: 6;
  }

  .om_mig :nth-child(8) {
    grid-column: 4/10;
    grid-row: 7;
  }
}

/* ////////////////////////////////////////////////// */
/* OM MIG FULL SCREEN */
/* ////////////////////////////////////////////////// */
@media screen and (min-width: 992px) {
  .om_mig :nth-child(1) {
    grid-column: 2/7;
    grid-row: 1;
    /* padding-left: 7rem; */
  }

  .om_mig :nth-child(2) {
    grid-column: 7/12;
    grid-row: 1;
  }

  .om_mig :nth-child(3) {
    grid-column: 2/12;
    grid-row: 2;
  }

  .om_mig :nth-child(4) {
    grid-column: 4/10;
    grid-row: 3;
    /* padding-right: 4rem; */
  }

  .om_mig :nth-child(5) {
    grid-column: 5/9;
    grid-row: 4;
  }

  .om_mig :nth-child(6) {
    grid-column: 1/7;
    grid-row: 5;
  }

  .om_mig :nth-child(7) {
    grid-column: 7/13;
    grid-row: 5;
  }

  .om_mig :nth-child(8) {
    grid-column: 5/9;
    grid-row: 6;
  }
}

/* ////////////////////////////////////////////////// */
/* CV MOBILE FIRST */
/* ////////////////////////////////////////////////// */

.cv-container {
  min-height: 400px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(100px, auto);
  gap: 1rem;
  padding-top: 3rem;
  /* padding-inline: 3rem; */
  padding-bottom: 2rem;
}

.cv-container :nth-child(1) {
  grid-column: 2 / 12;
  grid-row: 1;
}

.cv-container :nth-child(2) {
  grid-column: 2 / 12;
  grid-row: 2;
}

.cv-container :nth-child(3) {
  grid-column: 2 / 12;
  grid-row: 3;
}

/* ////////////////////////////////////////////////// */
/* CV IPAD */
/* ////////////////////////////////////////////////// */
@media screen and (min-width: 760px) {
  .cv-container :nth-child(1) {
    grid-column: 2 / 12;
    grid-row: 1;
  }

  .cv-container :nth-child(2) {
    grid-column: 2 / 8;
    grid-row: 2;
  }

  .cv-container :nth-child(3) {
    grid-column: 8 / 12;
    grid-row: 2;
  }
}

/* ////////////////////////////////////////////////// */
/* CV FULL SCREEN */
/* ////////////////////////////////////////////////// */
@media screen and (min-width: 992px) {
  .cv-container :nth-child(1) {
    grid-column: 2 / 8;
    grid-row: 1;
  }

  .cv-container :nth-child(2) {
    grid-column: 5 / 9;
    grid-row: 2;
  }

  .cv-container :nth-child(3) {
    grid-column: 8 / 12;
    grid-row: 1;
  }
}
